.header{
	font-weight:strong;
	text-align:center;
	
}
.footer{
	text-align:center;
	
}
.yellowBG{
	background-color:yellow;
}
a{
	font-weight:none;
}
a:visited{
	color:orange;
}
a:hover{
	font-weight:bold;
}
a:active{
	text-decoration:none;			
}